# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore instance-specific configuration files
instance/


# Ignore any sensitive environment files (e.g., .env)
*.env

# Ignore database files
*.db

# Ignore logs
*.log


# Ignore any temporary or backup files
*.bak
*.swp
*.tmp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
