<!DOCTYPE html>
<html>
<head>
    <title>Choose Your Role</title>
    
    <link rel="stylesheet" href="static\index.css">
</head>

<body>

    <div id="navbar">
        
            <a class="navbar-brand" href="#"><button> Admin Login Only</button></a>
        
    </div>


    <div id="button_body">
        <h1>Choose Your Role</h1>
        <div class="button">
            <button  onclick="location.href='#'">Sponsor</button>
            <button  onclick="location.href='#'">Influencer </button>

        </div>

    </div>
    

</body>
</html> 