<!DOCTYPE html>
<html>
<head>
    <title>Choose Your Role</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\index.css">
</head>

<body>

    <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><button> Admin Login Only</button></a>
        </nav>
    </div>


    <div id="button_body">
        <h1 class="mb-5">Choose Your Role</h1>

        <div id="button">
            <button type="button" class="btn btn-primary btn-role" onclick="location.href='#'">Sponsor</button>
            <button type="button" class="btn btn-secondary btn-role" onclick="location.href='#'">Influencer </button>

        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> 