<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Dashboard</title>
</head>

<body>

    <nav>
        <button onclick="location.href='{{ url_for("influencer.show_campaign") }}'">See All Public Campaign</button>
        <button onclick="location.href='/logout'">Log Out</button> <br>
    </nav>

    <form method="POST">
        HWEWE ALL DATA WILL BE SHOWB


        <button type="submit">Accept</button>
    </form>
</body>