<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Dashboard</title>
</head>
<body>

    <div id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>

<nav>
<button onclick="location.href='{{ url_for("influencer.show_campaign") }}'" >See All Public Campaign</button>
<button onclick="location.href='/logout'">Log Out</button> <br>
</nav>
<h2>Welcome {{ session["user_name"]  }} !</h2>
<p>Manage Ad Request</p>



{% if data %}
<table>
    <thead>
        <tr>
            <th>Campaign ID</th>
            <th>Campaign Name</th>
            <th>Description</th>
            <th>Goals</th>
            <th>Niche</th>
            <th>Sponsor ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Message</th>
            <th>Ad Request Status</th>
            <th>Requirements</th>
            <th>Payment Amount</th>
            <th>Negotiated Amount</th>
            <th>Negotiation Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        
        <tr>
            <td> {{ d["campaign_id"] }}  </td>
            <td> {{ d.campaign_name }}  </td>
            <td> {{ d.description }}  </td>
            <td> {{ d.goals }}  </td>
            <td> {{ d.niche }}  </td>
            <td> {{ d.sponsor_id }}  </td>
            <td> {{ d.start_date }}  </td>
            <td> {{ d.end_date }}  </td>
            <td> {{d.messages}}</td>
            <td>{{ d.status }}</td>
            <td>{{d.requirements}}</td>
            <td> {{d.payment_amount}}</td>
            <td> {{ d.negotiated_amount }}  </td>
            <td> {{ d.negotiation_status }}  </td>
            
            <td>
                <button onclick="location.href='{{ url_for("influencer.accept_adrequest" , adrequest_id =d.ad_request_id) }}'">Accept</button>
                <button onclick="location.href='{{ url_for("influencer.reject_adrequest" , adrequest_id =d.ad_request_id) }}'">Reject</button>
                <button onclick="location.href='{{ url_for("influencer.nego_adrequest" , adrequest_id =d.ad_request_id) }}'">Negotiate</button>
            </td>
        </tr>
        <!-- Repeat for other campaigns -->
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>No Ad Request to show !!</p>

{% endif %}
</body>
</html>
