<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <button class="btn btn-danger" onclick="location.href='/logout'">Log Out</button>
    


    <div class="container">
        <h1>Welcome, {{ data['user_name'] }}</h1>
        <p>This is Manage Add Requests Here !!.</p>
        <button>Click to Manage Campaigns HERE </button>
    </div>
    <div id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <div>

    </div>
    <div class="search-bar-container">
        <input type="text" id="searchBar" placeholder="Search by NICHE">
      </div>

      <button  > + Add AdResquest ! </button>
      
      <table class="campaign-list">
        <tr>
          <th>Campaign Name</th>
          <th>Description</th>
          <th>Niche</th>
          <th>Budget</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Goals</th>
          <th>Visibility</th>
          <th>Actions</th>
        </tr>
        <!-- Repeat this row for each campaign -->
        <tr>
          <td>CampaignName</td>
          <td>Description</td>
          <td>Niche</td>
          <td>Budget</td>
          <td>Start Date</td>
          <td>End Date</td>
          <td>Goals</td>
          <td>Visibility</td>
          <td class="action-buttons">
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
      </table>

      {{adrequest_data}}
    
</body>
</html>
