<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <button class="btn btn-danger" onclick="location.href='/logout'">Log Out</button>
    {{data}}
    <div class="container">
        <h1>Welcome, {{ session['user_name'] }}</h1>
        <p>This is your sponsor dashboard.</p>
    </div>
</body>
</html>
